fastapi==0.115.12
uvicorn[standard]
requests
sqlmodel #sqlite mysql postgres mariadb
psycopg[binary] # specifically for postgres with python
langchain
langchain-openai
langchain-google-genai
langchain-core